# PostgreSQL
DATABASE_URL=postgresql://postgres:overlord123@localhost:5433/nutrition_recipe_db

# Model Paths
CBF_MODEL_PATH=./cbf/outputs/models/best_cbf_model_tfidf.pkl
CF_MODEL_PATH=./cf/outputs/models/best_cf_model_ncf.pkl
